.button{
	font-size: 1.5rem;
	appearance: none;
	outline: none;
	border: none;
	box-sizing: border-box;
	padding: 0.7rem 4rem;
	margin: 0;
	font-weight: normal;
	font-family: inherit;
	transition: transform 0.5s;
	cursor: pointer;
	&_black:hover{
		color: $yellow;
	}

	&_white:hover{
		background-color: $yellow;
	}

	&_white{
		color: $third-color;
		background-color: $base-color;
	}
	
	&_black{
		color: $base-color;
		background-color: $third-color;
	}
}

.button:active{
	transform: scale(0.95);
}