.banner{
	margin: 5rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
}

.banner__header{
	font-size: 3em;
	margin: 0;
	font-weight: normal;
}

.banner__p{
	font-size: 2em;
	margin: 0 0 1.5rem 0;
}